PatientAlertingUI/Connected Services/AlertingService/AlertingController.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AlertingController" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/AlertingSystem?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/AlertingSystem?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAlertingController_ReadPatientVitalSigns_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadPatientVitalSigns" />
  </wsdl:message>
  <wsdl:message name="IAlertingController_ReadPatientVitalSigns_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadPatientVitalSignsResponse" />
  </wsdl:message>
  <wsdl:message name="IAlertingController_ValidatePatientVitalSigns_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidatePatientVitalSigns" />
  </wsdl:message>
  <wsdl:message name="IAlertingController_ValidatePatientVitalSigns_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidatePatientVitalSignsResponse" />
  </wsdl:message>
  <wsdl:message name="IAlertingController_ValidateSpo2_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidateSpo2" />
  </wsdl:message>
  <wsdl:message name="IAlertingController_ValidateSpo2_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidateSpo2Response" />
  </wsdl:message>
  <wsdl:message name="IAlertingController_ValidatePulseRate_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidatePulseRate" />
  </wsdl:message>
  <wsdl:message name="IAlertingController_ValidatePulseRate_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidatePulseRateResponse" />
  </wsdl:message>
  <wsdl:message name="IAlertingController_ValidateTemperature_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidateTemperature" />
  </wsdl:message>
  <wsdl:message name="IAlertingController_ValidateTemperature_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidateTemperatureResponse" />
  </wsdl:message>
  <wsdl:portType name="IAlertingController">
    <wsdl:operation name="ReadPatientVitalSigns">
      <wsdl:input wsaw:Action="http://tempuri.org/IAlertingController/ReadPatientVitalSigns" message="tns:IAlertingController_ReadPatientVitalSigns_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAlertingController/ReadPatientVitalSignsResponse" message="tns:IAlertingController_ReadPatientVitalSigns_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidatePatientVitalSigns">
      <wsdl:input wsaw:Action="http://tempuri.org/IAlertingController/ValidatePatientVitalSigns" message="tns:IAlertingController_ValidatePatientVitalSigns_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAlertingController/ValidatePatientVitalSignsResponse" message="tns:IAlertingController_ValidatePatientVitalSigns_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidateSpo2">
      <wsdl:input wsaw:Action="http://tempuri.org/IAlertingController/ValidateSpo2" message="tns:IAlertingController_ValidateSpo2_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAlertingController/ValidateSpo2Response" message="tns:IAlertingController_ValidateSpo2_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidatePulseRate">
      <wsdl:input wsaw:Action="http://tempuri.org/IAlertingController/ValidatePulseRate" message="tns:IAlertingController_ValidatePulseRate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAlertingController/ValidatePulseRateResponse" message="tns:IAlertingController_ValidatePulseRate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidateTemperature">
      <wsdl:input wsaw:Action="http://tempuri.org/IAlertingController/ValidateTemperature" message="tns:IAlertingController_ValidateTemperature_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAlertingController/ValidateTemperatureResponse" message="tns:IAlertingController_ValidateTemperature_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AlertingSystem" type="tns:IAlertingController">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ReadPatientVitalSigns">
      <soap:operation soapAction="http://tempuri.org/IAlertingController/ReadPatientVitalSigns" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidatePatientVitalSigns">
      <soap:operation soapAction="http://tempuri.org/IAlertingController/ValidatePatientVitalSigns" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateSpo2">
      <soap:operation soapAction="http://tempuri.org/IAlertingController/ValidateSpo2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidatePulseRate">
      <soap:operation soapAction="http://tempuri.org/IAlertingController/ValidatePulseRate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateTemperature">
      <soap:operation soapAction="http://tempuri.org/IAlertingController/ValidateTemperature" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AlertingController">
    <wsdl:port name="AlertingSystem" binding="tns:AlertingSystem">
      <soap:address location="http://localhost:8080/AlertingSystem/AlertingSystem" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>