PatientMonitoringUI/Connected Services/DataStoreService/DataStore1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DataContractsLib" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DataContractsLib" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PatientDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="PatientAge" type="xs:int" />
      <xs:element minOccurs="0" name="PatientContact" type="xs:long" />
      <xs:element minOccurs="0" name="PatientGender" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PatientID" type="xs:int" />
      <xs:element minOccurs="0" name="PatientName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PatientDetails" nillable="true" type="tns:PatientDetails" />
</xs:schema>