HospitalDatabaseUI/Connected Services/PatientMonitoringService/DataStore.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/DataStore?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DataContractsLib" />
  <xs:element name="StorePatientVitalSigns">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="patientId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="m_jsonData" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StorePatientVitalSignsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchPatientByContact">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="contactNumber" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchPatientByContactResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SearchPatientByContactResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchPatientByPatientId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="patientId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchPatientByPatientIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SearchPatientByPatientIdResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPatientDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="patientId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPatientDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DataContractsLib" minOccurs="0" name="GetPatientDetailsResult" nillable="true" type="q1:PatientDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePatientDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="patientId" type="xs:int" />
        <xs:element minOccurs="0" name="patientName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="patientGender" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PatientAge" type="xs:int" />
        <xs:element minOccurs="0" name="contactNumber" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePatientDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdatePatientDetailsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTotalNoOfBeds">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTotalNoOfBedsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTotalNoOfBedsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTotalNoOfWards">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTotalNoOfWardsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTotalNoOfWardsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNoOfAvailableBeds">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNoOfAvailableBedsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetNoOfAvailableBedsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsContactNumberExists">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="contactNumber" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsContactNumberExistsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsContactNumberExistsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterPatient">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="contactNumber" type="xs:long" />
        <xs:element minOccurs="0" name="patientName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="patientGender" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PatientAge" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterPatientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegisterPatientResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsPatientAllocated">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="patientID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsPatientAllocatedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsPatientAllocatedResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AllocateResourceToPatient">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="contactNumber" type="xs:long" />
        <xs:element minOccurs="0" name="patientId" type="xs:int" />
        <xs:element minOccurs="0" name="doctorName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="category" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="disease" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="wardNumber" type="xs:int" />
        <xs:element minOccurs="0" name="bedNumber" type="xs:int" />
        <xs:element minOccurs="0" name="indate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="emergencyContactNumber" type="xs:long" />
        <xs:element minOccurs="0" name="outdate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="status" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AllocateResourceToPatientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AllocateResourceToPatientResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertBedInformation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bedNumber" type="xs:int" />
        <xs:element minOccurs="0" name="wardNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertBedInformationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IsWardExist">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="wardnumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsWardExistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsWardExistResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsBedExist">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bedNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsBedExistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsBedExistResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertWardInformation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="wardType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="wardNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertWardInformationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAvailableBed">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="wardType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAvailableBedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAvailableBedResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="wardNumber" type="xs:int" />
        <xs:element minOccurs="0" name="bedNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBedInformation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bedNumber" type="xs:int" />
        <xs:element minOccurs="0" name="wardNumber" type="xs:int" />
        <xs:element minOccurs="0" name="Availability" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBedInformationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Discharge">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="patientID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DischargeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IsBedAvailable">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bedNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsBedAvailableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsBedAvailableResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClearPatientDB">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ClearPatientDBResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>