PatientMonitoringUI/Connected Services/PatientMonitoringService/Controller.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Controller" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/PatientMonitoring?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/PatientMonitoring?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8080/PatientMonitoring?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/VitalSignLib" />
      <xsd:import schemaLocation="http://localhost:8080/PatientMonitoring?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/VitalSignContractLib" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IController_GenerateVitalSignAsJson_InputMessage">
    <wsdl:part name="parameters" element="tns:GenerateVitalSignAsJson" />
  </wsdl:message>
  <wsdl:message name="IController_GenerateVitalSignAsJson_OutputMessage">
    <wsdl:part name="parameters" element="tns:GenerateVitalSignAsJsonResponse" />
  </wsdl:message>
  <wsdl:message name="IController_EnableVitalSignForPatient_InputMessage">
    <wsdl:part name="parameters" element="tns:EnableVitalSignForPatient" />
  </wsdl:message>
  <wsdl:message name="IController_EnableVitalSignForPatient_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnableVitalSignForPatientResponse" />
  </wsdl:message>
  <wsdl:message name="IController_StorePatientVitalSignsInDB_InputMessage">
    <wsdl:part name="parameters" element="tns:StorePatientVitalSignsInDB" />
  </wsdl:message>
  <wsdl:message name="IController_StorePatientVitalSignsInDB_OutputMessage">
    <wsdl:part name="parameters" element="tns:StorePatientVitalSignsInDBResponse" />
  </wsdl:message>
  <wsdl:portType name="IController">
    <wsdl:operation name="GenerateVitalSignAsJson">
      <wsdl:input wsaw:Action="http://tempuri.org/IController/GenerateVitalSignAsJson" message="tns:IController_GenerateVitalSignAsJson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IController/GenerateVitalSignAsJsonResponse" message="tns:IController_GenerateVitalSignAsJson_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EnableVitalSignForPatient">
      <wsdl:input wsaw:Action="http://tempuri.org/IController/EnableVitalSignForPatient" message="tns:IController_EnableVitalSignForPatient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IController/EnableVitalSignForPatientResponse" message="tns:IController_EnableVitalSignForPatient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StorePatientVitalSignsInDB">
      <wsdl:input wsaw:Action="http://tempuri.org/IController/StorePatientVitalSignsInDB" message="tns:IController_StorePatientVitalSignsInDB_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IController/StorePatientVitalSignsInDBResponse" message="tns:IController_StorePatientVitalSignsInDB_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Controller" type="tns:IController">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GenerateVitalSignAsJson">
      <soap:operation soapAction="http://tempuri.org/IController/GenerateVitalSignAsJson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnableVitalSignForPatient">
      <soap:operation soapAction="http://tempuri.org/IController/EnableVitalSignForPatient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StorePatientVitalSignsInDB">
      <soap:operation soapAction="http://tempuri.org/IController/StorePatientVitalSignsInDB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Controller">
    <wsdl:port name="Controller" binding="tns:Controller">
      <soap:address location="http://localhost:8080/PatientMonitoring/ControllerLib" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>